*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

ul{
    padding: 1rem 2rem ;
}


header{
   display: flex;
   justify-content: center;
   margin: 1.5rem;
}

.fondito{
    background-color: #C4C4C4;
    color: #005677;
}

section h1{
    text-align: center;
}

section{
    background-color: #ffffff;
    padding-top: 5rem;

}

h2{
    font-size: 1.2rem;
}

/* ------------- 
DATOS PERSONALES 
----------------*/

.lista-datos-personales em{
    font-weight: 600;
}

/* ------------- 
FORMACION ACADEMICA 
----------------*/

.lista-formacion-academica li{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.lista-formacion-academica span{
    font-weight: 600;

}

/* ------------- 
EXPERIENCIA LABORAL
----------------*/
.lista-experiencia-laboral li{
    display: flex;
    align-items: start;
    gap: 1rem;
}

.lista-experiencia-laboral span{
    font-weight: 600;

}

/* ------------- 
    FOOTER
----------------*/
  footer {
    display: flex;
    justify-content: center;
    background-color: #005677;
    color: white;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 0.5rem;
    width: 100%;
  }

  .imgfooter {
    width: 20px;
    height: 20px;
  }

